{% extends 'base.html.twig' %}

{% block title %}Listado Alumnos{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Listado de asignaturas para el alumno: {{ alumno.nombre|title }} {{ alumno.apellidos|title }}</h1>


    <table id="asignaturas">
        <tr>
            <th>Código</th>
            <th>Asignatura</th>
            <th>Grado</th>
            <th></th>
        </tr>
        {% for asig in asignaturas %}
            <tr>
                <td>{{ asig.codigo }}</td>
                <td>{{ asig.nombre }}</td>
                <td>{{ asig.grado.nombre }}</td>
                {% if alumno in asig.alumno %}
                    <td><button type="button" value="dar de baja" onclick="location.href='{{ path('asignatura_baja', {"asignatura": asig.id , "alumno": alumno.id }) }}'">Dar de Baja</button></td>
                {% else %}
                    <td><button type="button" value="Matricular" onclick="location.href='{{ path('asignatura_matricular', {'asignatura': asig.id, 'alumno': alumno.id }) }}'">Matricular</button></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <p><a href="{{ path('alumnos') }}">Volver</a></p>
</div>
{% endblock %}