{% extends 'base.html.twig' %}

{% block title %}Listado Alumnos{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Listado de Alumnos</h1>

    <table id="alumnos">
        <tr>
            <th>Nº Expediente</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Fecha Nacimiento</th>
            <th>Género</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Grado</th>
            <th>Notas</th>
            <th>Asignaturas</th>
        </tr>
        {% for alumno in alumnos %}
            <tr>
                <td>{{ alumno.nExpediente }}</td>
                <td>{{  alumno.nombre }}</td>
                <td>{{ alumno.apellidos }}</td>
                <td>{{ alumno.fechaNacimiento|date('d-m-Y') }}</td>
                <td>{{ alumno.sexo }}</td>
                <td>{{ alumno.email }}</td>
                <td>{{ alumno.telefono }}</td>
                <td>{{ alumno.grado.nombre }}</td>
                <td><a href="{{ path('notas', {'alumno': alumno.id}) }}">Ver Notas</a></td>
                <td><a href="{{ path('asignaturas', {'alumno': alumno.id}) }}">Ver Asignaturas</a></td>
            </tr>
        {%  endfor %}
    </table>
</div>
{% endblock %}
