{% extends 'base.html.twig' %}

{% block title %}Notas Alumno Expediente - {{ alumno.nExpediente }}{% endblock %}

{% block body %}
<div class="example-wrapper">
    {%  set sumNotas = 0 %}
    {%  set cont = 0 %}
    <h1>Notas del alumno {{ alumno.nombre }} {{ alumno.apellidos }}</h1>

    <table id="notas">
        <thead>
            <tr>
                <th>Asignatura</th>
                <th>Nota</th>
            </tr>
        </thead>
        <tbody>
            {% for asig in alumno.asignatura %}
                <tr>
                    <td>{{ asig.nombre }}</td>
                    <td>{{ notas[asig.nombre] }}
                        {% if notas[asig.nombre] != '' %}
                            {% if notas[asig.nombre] >= 5 %}
                                &#128077;
                            {% else %}
                                &#128078;
                            {% endif %}
                            {% set sumNotas = sumNotas + notas[asig.nombre] %}
                        {% endif %}
                    </td>
                </tr>
                {% set cont = cont + 1 %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>MEDIA</th>
                <th>{{ sumNotas/cont|round(2, 'common') }}{% if sumNotas/cont >= 5 %}
                        &#128077;
                    {% else %}
                        &#128078;
                    {% endif %}</th>
            </tr>
        </tfoot>
    </table>
    <p><a href="{{ path('alumnos') }}">Volver</a></p>
</div>

{% endblock %}
